.aside1, .aside2{
    width:15%;
    border:1px solid black;
    
}
.aside2{
    float:right;
}
.container{
    width:70%;
    border:1px solid black;
    /* margin:40px; */
}
.content-date{
    text-align:right;
}
.comment-all-none{
    display:none;
}
.comment{
    align:center;
}
.comment{
    display:inline-block;
    height:100%;
    float:left;

}
.comment-board-all{
    padding-left:10px;
}
.comment-board{
    border-radius:5px;
    background:lightgray;
    padding:8px;
}

.comment-image-main{
    width:4%;
}
.comment-image{
    display:inline;
    width:100%;
    height:10%;
    border-radius:100px;
    
}

/* like css */
.like-content {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    font-size: 18px;
}

.like-content .btn-secondary {
    display: inline;
    text-align: center;
    background: #ed2553;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.like-content .btn-secondary:hover ,.btn-primary:hover {
    transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
    margin-right: 5px;
}
.animate-like {
    animation-name: likeAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.65s;
}
@keyframes likeAnimation {
    0%   { transform: scale(30); }
    100% { transform: scale(1); }
}
/* like css */
.scrap{
    float:right;
    margin-right:20px;
}
.btn-primary {
    display: inline;
    text-align: center;
    background: #e23a6e;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
    padding: 10px 17px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.comment-button{
    float:right;
    margin-right:20px;
    cursor:pointer;
}
.add-btn{
    position: fixed;
    top:550px;
    right:200px;
}
.write-btn{
    display:none;
}
#share{
    position: fixed;
    top:500px;
    right:200px;
}
#secret{
    position:fixed;
    top:450px;
    right:200px;
}
.category{
    display:inline-block;
    float:left;
    width:25%;
    border:1px solid black;
    text-align:center;
}
.category:hover{
    cursor: pointer;
    background:#fde8ee;
}
.share-category{
    display:inline-block;
    float:left;
    width:25%;
    border:1px solid black;
    text-align:center;
}
.share-category:hover{
    cursor: pointer;
    background:#fde8ee;
}